body{
    background-color: lightgreen;
    margin: 25px 25px 25px 25px;
    background-image: url("BG3.jpg");
    border-radius: 50%;
    font-size: 20px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:seagreen;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: green;
}
#image{
    float: right;
}
#iframe{
    border:0;
}
#foot{
    text-align: center;;
}
.contact{
    padding-left: 50px;
}
#follow{
    font-size: 30px;
}
.choice{
    padding-left: 30px;
    font-size: 20px;
}